h1{
font-family: 'Roboto',sans-serif;
text-align: center;
color: black;
}
.robot
{
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
}
.head,
.torso,
.nick,
.leftArm,
.rightArm,
.leftLeg,
.rightLeg
{
background-color: dodgerblue;
}
.head{
    height: 150px;
    width: 200px;
    border-radius: 200px 200px 0px 0px;
    margin: 0 auto; 
    
}
.eyes{
    display: flex;
}

.leftEye,.rightEye{
    width: 20px;
    height: 20px;
    background-color: floralwhite;
    border-radius: 15px;
}
.fem{
    display: flex;
    width: 70px;
    height: 12px;
    background-color: floralwhite;
    position: relative;
    top: 95px;
    left: 63px;
    border-radius: 10px;
}
.leftEye{
    position: relative;
    top: 70px;
    left: 40px;
}
.rightEye{
    position: relative;
    top: 70px;
    left: 120px;
}
.upperBody{
    width: 300px;
    height: 150px;
    display: flex;
}
.nick{
    position: relative;
    left: 93px;
    height: 7px;
    width: 110px;
}
.leftArm{
    width: 30px;
    height: 125px;
    border-radius: 100px;
    margin-right: 20px;
    margin-top: 25px;
}
.rightArm{
    width: 30px;
    height: 125px;
    border-radius: 80px;
    margin-left: 20px;
    margin-top: 25px;
}
.torso{
    width: 200px;
    height: 200px;
    border-radius: 0% 0% 35% 35%; 
}
.lowerBody{
    width: 200px;
    height: 200px;
    margin: 0px auto;
    display: flex;

}
.leftLeg,
.rightLeg{
    height: 125px;
    width: 35px;
    border-radius: 80px;   
}
.leftLeg{
    margin-top: 22px;
    margin-left: 35px;
}
.rightLeg
{
    margin-top: 22px;
    margin-left: 55px;
}
.head:hover{
    width: 300px;
    transition: 1s ease-in-out;
}
.leftLeg:hover{
    transform:rotate(30deg);
}
.rightLeg:hover{
    transform:rotate(-30deg);
}
